body {
    background-color: LightGray;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
div {
    border: 1px solid Chocolate;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
	background-color: #fff;
	margin: 0;
	overflow: hidden;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	float: left;
	padding-top: 15px;
}

.top-navigation .links {
	float: right;
	margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links > .active {
	color: #2c2c2c;
}

.top-navigation ul li{
	display:inline-block;
	list-style-type: none;
	color: #838994;
	padding-left: 1.4em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.03em;
}

nav ul li:hover {
	color: #2c2c2c;
}

.main-content {
	background-image: url('images/first-background.jpg');
}